# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/misc.xml
/.idea/modules.xml
/.idea/qaGuru_07.iml
/.idea/vcs.xml
